{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'registration/login/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'registration/login/css/rtl.css' %}">


	</head>
	<body>
		{% if form.non_field_errors %}
		<div class="errors" >
			{% for error in form.non_field_errors %}
				<span>{{error}}</span>
			{% endfor %}
		</div>
	{% endif %}
	<section class="ftco-section">
		
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="img" style="background-image: url({% static 'registration/login/images/1920778.jpg' %});"></div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4 myfont">ورود به سایت</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
							<form method="POST" class="signin-form">{% csrf_token %}
			      		<div class="form-group mt-3">
							{{form.username|add_class:"form-control"}}
							{% if form.username.errors %}
								<div class="errorfield" >
									{% for error in form.username.errors %}
										<span>{{error}}</span>
									{% endfor %}
								</div>
							{% endif %}
			      			<label class="form-control-placeholder" for="username">نام کاربری</label>
			      		</div>
		            <div class="form-group">
		              {{form.password|add_class:"form-control"}}
					  {% if form.password.errors %}
						<div class="errorfield" >
							{% for error in form.password.errors %}
								<span>{{error}}</span>
							{% endfor %}
						</div>
					{% endif %}
		              <label class="form-control-placeholder" for="password">کلمه عبور</label>
		              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
		            </div>
		            <div class="form-group d-md-flex">
								
		            </div>
		          </form>
		          <p class="text-center">Not a member? <a data-toggle="tab" href="#signup">Sign Up</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'registration/login/js/jquery.min.js' %}"></script>
  <script src="{% static 'registration/login/js/popper.js' %}"></script>
  <script src="{% static 'registration/login/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'registration/login/js/main.js' %}"></script>

	</body>
</html>

