{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
  	<title>بازیابی گذرواژه</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'registration/login/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'registration/login/css/rtl.css' %}">


	</head>
	<body>
		{% if form.non_field_errors %}
		<div class="errors" >
			{% for error in form.non_field_errors %}
				<span>{{error}}</span>
			{% endfor %}
		</div>
	{% endif %}
	<section class="ftco-section">
		
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="img" style="background-image: url({% static 'registration/login/images/1920778.jpg' %});"></div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4 myfont">بازیابی گذرواژه</h3>
			      		</div>
								<div class="w-100">
								
								</div>
			      	</div>
							<form method="POST" class="signin-form">{% csrf_token %}
			      		<div class="form-group mt-3">
							{{form.email|add_class:"form-control"}}
							{% if form.email.errors %}
								<div class="errorfield" >
									{% for error in form.email.errors %}
										<span>{{error}}</span>
									{% endfor %}
								</div>
							{% endif %}
			      			<label class="form-control-placeholder" for="email">آدرس ایمیل</label>
			      		</div>
                          <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">ارسال لینک بازیابی</button>
                        </div>
		            
		            <div class="form-group d-md-flex">
								
		            </div>
		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'registration/login/js/jquery.min.js' %}"></script>
  <script src="{% static 'registration/login/js/popper.js' %}"></script>
  <script src="{% static 'registration/login/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'registration/login/js/main.js' %}"></script>

	</body>
</html>

