{% extends 'shared/base.html' %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{article.thumpnail.url}}')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>{{article.title}}</h1>
                <h2 class="subheading"></h2>
                <span class="meta"> منتشر شده توسط 
                    <a href="#"> ویتر در </a>  
                    {{ article.jpublish }}</span>
              </div>
            </div>
          </div>
        </div>
      </header>

  <!-- Main Content -->
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-justify">
          <p> {{article.description}} </p>

        </div>
      </div>
    </div>
  </article>
    
{% endblock main %}