{% extends 'shared/base.html' %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

        {% for article in articles %}
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                {{article.title}}
              </h2>
              <h3 class="post-subtitle">
              {{ article.description|truncatewords:100 }}
              </h3>
            </a>
            <p class="post-meta">نوشته شده توسط
              <a href="#"> ویتر</a>
              {{ article.jpublish }}</p>
          </div>
        {% endfor %}

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>
{% endblock main %}