{% extends 'shared/base.html' %}
{% load render_partial %}


{% block main %}

  <!-- Page Header -->
{% render_partial 'settings:header' %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

        {% for article in articles %}
          <div class="post-preview">
            <a href="{% url 'blog:articledetail' article.slug %}">
              <h2 class="post-title">
                {{article.title}}
              </h2>
              <h3 class="post-subtitle text-justify">
              {{ article.description|truncatewords:100 }}
              </h3>
            </a>
            <p class="post-meta">نوشته شده توسط
              <a href="#"> ویتر</a>
              {{ article.jpublish }}</p>
              <div>
                {% for category in article.category.get_active_category %}
                  <a href="{% url 'blog:CategoryView' category.slug %}">#{{ category.title }} </a> 
                {% endfor %}
              </div>
          </div>
          <hr>
        {% endfor %}

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-left" href="#">پست های قدیمی &larr;</a>
      </div>
    </div>
  </div>
</div>
{% endblock main %}